<footer>
  <ul class="pages">
    <li>
      <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
    </li>
    <li>
      <a href="{{ "/essays" | prepend: site.baseurl }}">Posts</a>
    </li>
    <li>
      <a href="{{ '/friends' | prepend: site.baseurl }}">Friends</a>
    </li>
    <li>
      <a href="{{ '/rbcv' | prepend: site.baseurl }}">Resume</a>
    </li>
    <li>
      <a href="{{ '//feedback.hqc.io/feedbacks/new' | prepend: site.baseurl }}">Feedback</a>
    </li>
  </ul>
</footer>
